.container {

}
.tariffsMenu {
    margin-left: 20px;
    padding: 0;
    width: 250px;/*
    margin: 10px 0 0 15px;*/
    background-color: #fcfcfc;
}

.tariffsMenu li{
    list-style-type: none;
    margin-top: 5px;
    /*margin-top: 10px;*/
}

.tariffsMenu a {
    text-decoration: none;
    color: #3d7e9a
}

