.segment {
    background-color: #2a3a61;
    list-style-type: none;
    padding: 0;
    margin: 0;
    font-size: 14px;
}

.menuItem {
    display: inline-block;
}

.menuItem a {
    color: white;
    text-decoration: none;
    display: block;
    padding: 10px 15px;
}