

.container {
  display: grid;
  grid-template-areas: "menu tariffs tariffs";
  /*margin: 10px 0 0 15px;*/
}

.tariffsMenu {
  grid-area: menu;
}


.tariffs {
  grid-area: tariffs;
}

.tariffs th{
  margin-right: 10px;
  padding: 5px 10px;
}

.addTariff {

}

.links {
  margin-top: 10px;
}

.tariffsStat {
  color: #3d7e9a;
  text-decoration: none;
}

.tariffsStat:hover {
  text-decoration: underline;
}


