.app {
  display: grid;
  grid-template-rows: 1fr 2fr 3fr;
  grid-template-columns: 3fr 1fr;
  grid-template-areas: "header header"
                       "main main"
                       "footer footer";
    grid-gap: 25px;

}

/*header*/
.header {
    grid-area: header;
}

/*main*/
.main {
    grid-area: main;
    /*background-color: #9F8370;*/

    /*background-color: rgba(48, 88, 97, 0.83);*/
    /*background-color: rgba(52, 97, 38, 0.82);*/
    /*background-color: #F6BF43;*/
}

/*footer*/
.footer {
    grid-area: footer;
    /*background-color: #F6BF43;*/
}
